/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/tmp/**
!/spec/tmp/.keep
/tmp/*
.history
/inquisition.yml
.rake_tasks~

# rspec failure tracking
.rspec_status

# RubyMine config files
/.idea
