/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/inquisition/tmp/**
!/spec/inquisition/tmp/.keep
/tmp/*
.history
/inquisition.yml
/rails_best_practices_output.json
.rake_tasks~
.DS_Store
Gemfile.lock

# rspec failure tracking
.rspec_status

# RubyMine config files
/.idea
