# Bundler state
/.bundle

# Various artifacts
/coverage/
/Gemfile.lock
log/*.log
# rspec failure tracking
.rspec_status

# Dummy application
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/yarn-error.log
spec/dummy/storage/
spec/dummy/tmp/
spec/dummy/coverage/
spec/dummy/log/

# Mac finder artifacts
.DS_Store

# RubyMine project files
.idea

/.yardoc
/doc

.ruby-gemset
.ruby-version
