<div class="">
  <span class="sub-subtitle"><a href="#bottlenecks_detection">Bottlenecks detection</a></span>
  <ul class="mt--5">
    <li>not implement</li>
    <%= active_record_doctor %>
    <%= lol_dba %>
    <%= fasterer %>
  </ul>
</div>
