<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Overview Page</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <h3>Overview</h3>

        <h3>MAIN</h3>
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
          <%= main_field.render %>
        </div>

        <h3>BREAKS</h3>
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
          <%= breakdowns.render %>
        </div>

        <h3>COV</h3>
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
          <%= coverage.render %>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
          <p>TEST ISSUE: </p>
          <p><%= @collection.first.message %></p>
        </div>

        <div class="col-xs-7 col-sm-7 col-md-6 col-lg-8">
          <p> Categories: </p>
        </div>
      </div>
    </div>
  </body>
</html>
