<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      a {
        color: blue;
      }
      .subtitle {
        font-size: 19px;
        color: rgb(110, 115, 115);
      }
      .sub-subtitle {
        margin-top: 12px;
        font-size: 17px;
        color: rgb(110, 115, 115);
      }
      .title-doc {
        line-height: 400px;
        vertical-align: middle;
        text-align: center;
      }
      .date-creation {
        text-align: center;
        font-weight: normal;
        font-size: 20px;
      }
      .content-page {
        margin-left: 30px;
      }
      .mt-5 {
        margin-top: 5px;
      }
      .technology-page {
        margin-left: 40px;
        margin-top: 20px;
      }
      .mb-5 {
        margin-bottom: 5px
      }
      .mt--5 {
        margin-top: -5px;
      }
    </style>
  </head>
  <body>
    <%= home %>
    <br style="page-break-before: always">
    <div class='content-page'>
      <br>
      <dl>
        <dt><a href="#technology_stack">Technology Stack</a></dt>
        <dd><a href="#programming_languages_and_their_versions">Programming languages and their versions</a></dd>
        <dd><a href='#frameworks_and_their_versions'>Frameworks and their versions</a></dd>
        <dd><a href='#offers_for_current_gem_list'>Offers for current gem list</a></dd>
        <dd><a href='#databases_data_storages_and_their_versions'>Databases, data storages, and their versions</a></dd>
        <dd><a href='#monitoring_exceptions_tracking_tools'>Monitoring/exceptions tracking tools</a></dd>
        <dd><a href='#workers_background_jobs_and_tools_to_support_background_jobs'>Workers, background jobs and tools to support background jobs</a></dd>
        <dd><a href='#third_party_services_integrations'>Third-party services/integrations</a></dd>
        <dd><a href='#hosting_platforms_services_tools'>Hosting platforms, services, tools</a></dd>
        <dd><a href='#server_infrastructure_management_and_deployment_tools'>Server infrastructure management and deployment tools</a></dd>
        <dd><a href='#'>Assets</a></dd>
      </dl>
      <dl>
        <dt><a href="#static_code_analysis_and_automated_security_audit">Static code analysis and automated security audit</a></dt>
        <dd>
          <dl>
            <dt><a href="#security_issues_detection">Security issues detection</a></dt>
            <dd><a href='#brakeman'>Brakeman</a></dd>
            <dd><a href='#patch_level_verification'>Patch-level verification</a></dd>
            <dd><a href='#security_checklist'>Security checklist</a></dd>
            <dd><a href='#bottlenecks_detection'>Bottlenecks detection</a></dd>
          </dl>
        </dd>
        <dd><a href='#structural_similarities_analysis_and_code_smell_detection'>Structural similarities analysis and code smell detection</a></dd>
        <dd><a href='#autotest_quality'>Autotest quality</a></dd>
        <dd><a href='#style_guides_checking'>Style guides checking</a></dd>
        <dd><a href='#rails_code_quality_checking'>Rails code quality checking</a></dd>
        <dd><a href='#database_structure_checking'>Database structure checking</a></dd>
        <dd><a href='#deployment_and_servers_structure_management_checking'>Deployment and servers structure management checking</a></dd>
      </dl>
      <dl>
        <dt><a href='#issues'>Issues</a></dt>
        <dd><a href='#gemfile'>Gemfile</a></dd>
        <dd><a href='#monitoring/exceptions tracking tool'>Monitoring/exceptions tracking tool</a></dd>
        <dd><a href='#ci_cd'>CI/CD</a></dd>
        <dd><a href='#assets'>Assets</a></dd>
        <dd><a href='#autotest_quality'>Autotest quality</a></dd>
        <dd><a href='#security'>Security</a></dd>
        <dd><a href='#ruby_style'>Ruby Style</a></dd>
        <dd><a href='#database'>Database</a></dd>
        <dd><a href='#authorization'>Authorization</a></dd>
      </dl>
      <dl>
        <dt><a href='#'>Issues priority proposal</a></dt>
      </dl>
    </div>
    <br style="page-break-before: always">

    <%= stack %>

    <br style="page-break-before: always">
    <div class='statistic-code-analysis technology-page'>
      <h2><a id="#static_code_analysis_and_automated_security_audit">Static code analysis and automated security audit</a></h2>

      <div class="security-issues-detection technology-page">
        <span class="subtitle"><a id="security_issues_detection">Security issues detection</a></span>

        <%= security %>
      </div>
      <br style="page-break-before: always">

      <%= analysis %>

      <%= database_structure %>

      <div class="">
        <span class="subtitle"><a id="deployment_and_servers_structure_management_checking">Deployment and servers structure management checking</a></span>
        <ul class="mt--5">
          <li>integration with CI server is absent;</li>
          <li>the staging environment is absent;</li>
          <li>there is no infrastructure as code approach.</li>
        </ul>
      </div>
    </div>

    <div class='technology-page'>
      <h2><a id="issues">Issues</a></h2>

      <div class="">
        <span class="subtitle"><a id="gemfile">Gemfile</a></span>
        <p>There are some gems that are not used and some of them can be removed. Also, there are few gems that are wrappers around javascript, such gems would be better to remove and use a javascript package manager instead. Based on the benchmarks some of the gems have a better alternative, it would be good to do such migration. In the end, I would recommend to specify a pessimistic version and use the gemfile group.</p>
      </div>

      Monitoring/exceptions tracking tool...
      CI/CD...
      Assets...
      Autotest quality...
      Security...
      Ruby Style...
      Database...
    </div>

    <br style="page-break-before: always">

    <div class='technology-page'>
      <h2><a id="issues">Issues priority proposal</a></h2>

      ......
    </div>
  </body>
</html>
