:javascript
  function init_chart_doughnut(){
    if( typeof (Chart) === 'undefined'){ return; }
    if ($('#errorsCount').length){
      var chart_doughnut_settings = {
        type: 'doughnut',
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: #{params[:presenter].errors_count_chart.map{|error| error[:name]}},
          datasets: [
            {
              data: #{params[:presenter].errors_count_chart.map{|error| error[:total]}},
              backgroundColor: [
                "#3498DB",
                "#BDC3C7",
                "#9B59B6",
                "#E74C3C",
                "#26B99A"
              ],
              hoverBackgroundColor: [
                "#49A9EA",
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB"
              ]
            }
          ]
        },
        options: {
          legend: false,
          responsive: false,
        }
      }
      var chart_element = $('#errorsCount');
      var chart_doughnut = new Chart( chart_element, chart_doughnut_settings);
    }

    if ($('#routesCount').length){
      var chart_doughnut_settings = {
        type: 'doughnut',
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
          labels: #{params[:presenter].route_methods_chart.map{|method| method[:name]}},
          datasets: [
            {
              data: #{params[:presenter].route_methods_chart.map{|method| method[:total]}},
              backgroundColor: [
                "#3498DB",
                "#BDC3C7",
                "#9B59B6",
                "#E74C3C",
                "#26B99A"
              ],
              hoverBackgroundColor: [
                "#49A9EA",
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB"
              ]
            }
          ]
        },
        options: {
          legend: false,
          responsive: false,
        }
      }
      var chart_element = $('#routesCount');
      var chart_doughnut = new Chart( chart_element, chart_doughnut_settings);
    }
  }
